body {
     background-color: rgb(236, 143, 136);
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     -webkit-text-stroke: 0.5px rgb(231, 217, 217)
}



h2 {
    font-size: 1.5rem;
    color: #5a2f2f;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
    color: #5a2f2f;
    font-weight: bold;
}

a {
    color: #302136;
    text-decoration: none;
    font-size: 1.2rem;
}
a:hover {
    color: #c2b0c9;
    text-decoration: underline;
    font-size: 1.4rem;
    animation: pulsarLink 2s infinite alternate;
}
@keyframes pulsarLink {
    0%   { font-size: 1rem; }
    50%  { font-size: 1.5rem; }
    100% { font-size: 1rem; }}
